p {
    font-size: 20px;
}

#aboutMeContainer {
    display: flex;
    padding: 0px 80px 80px 80px;
    margin: 40px;
    color: white;
}

#aboutMeText {
    width: fit-content;
    color: white;
}

@keyframes nameFadeIn {
    0% {
        color: white;
    }

    100% {
        color: black;
    }
}

@keyframes nameFadeOut {
    0% {
        color: black;
    }

    100% {
        color: white;
    }
}

