p {
    font-size: 20px;
}

#aboutMeContainer {
    display: flex;
    flex-direction: column;
    padding: 0px 80px 80px 80px;
    margin: 40px;
    color: white;
}

#aboutMeText {
    width: fit-content;
    color: black;
    display: block;
}

#aboutImgContainer{
    margin: auto;
}
#aboutImg{
    border: 5px solid black;
    border-radius: 50%;
}

@keyframes nameFadeIn {
    0% {
        color: white;
    }

    100% {
        color: black;
    }
}

@keyframes nameFadeOut {
    0% {
        color: black;
    }

    100% {
        color: white;
    }
}

@media  (max-width: 550px) {
  #aboutMeText {
    font-size: 50px;
  }

  #aboutImg{
    width: 500px;
  }

  #desc{
    font-size: 30px;
  }

  #aboutMeContainer{
    padding: 0px
  }
}


