#contactContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 60px;
    width: fit-content;
}

.contact{
    display: flex;
    gap: 10px;
}

.contactItem{
    position: relative;
    width: 600px;
    width: fit-content;
    transition: .2s linear;
    bottom: 0px;
    background-color: white;

}

.contactItem:hover{
    bottom: 5px;
}

#contactTitle{
    padding-left: 60px;
}