#projects {
    display: flex;
    padding: 0px 80px 80px 80px;
    margin: 40px;
    color: black;
    flex-direction: column;
}

#minikino {
    background-color: #f3e5ab;
}

#scl {
    background-color: rgb(255, 255, 255);
}


#webstore {
    background-color: orange;
}

.projectContainer {
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    border: 3px solid black;
    display: flex;
    width: fit-content;
    margin: auto;
    margin-bottom:20px ;
}

.projectText {
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    width: fit-content;
    margin: auto;
    flex-direction: column;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.projectContainer>ul {
    list-style-type: none;
}

p {
    font-weight: normal;
}

.linkBtn{
    width: fit-content;
    margin: auto;
}


#title {
    color: black;
    font-weight: bold;
    font-size: 32px;
}