#projects {
    display: flex;
    padding: 0px 80px 80px 80px;
    margin: 40px;
    color: black;
    flex-direction: column;
}

#minikino {
    background-color: #f3e5ab;
}

#scl {
    background-color: pink;
}


#webstore {
    background-color: orange;
}

.projectContainer {
    padding: 10px;
    margin-bottom: 20px;
}

.projectContainer>ul{
    list-style-type: none;
}

#title {
    color: black;
    font-weight: bold;
    font-size: 32px;
}