.skillsTitle {
    background-color: red;
    font-size: 30px;
    margin: 0 auto;
}

.skillContainer {
    text-align: center;

}

.carousel {
    margin: 100px auto;
    width: 100vw;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: carousel 20s linear infinite;
    padding-right: 1em;
}


.card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
}

@keyframes carousel {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}